{% extends 'base_doctor.html' %}
{% load static %}
{% block content %}
<div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'list_appointment' %}">Minhas consultas</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Detalhes da consulta</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

        <div class="container mt-5">
            <div class="card-body">
                <h2 for="" class="mb-5">Detalhes do atendimento</h2>
                <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3" style="font-style: arial; font-weight: bold;">Nome do paciente</label>
                    <div class="form-check-label">{{appointment.patient}}</div>
                </div>
                <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3" style="font-style: arial; font-weight: bold;">Gênero</label>
                    <div class="form-check-label">{{appointment.gender}}</div>
                </div>
                <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3" style="font-style: arial; font-weight: bold;">Idade</label>
                    <div class="form-check-label">{{appointment.age}} anos</div>
                </div>
                <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3" style="font-style: arial; font-weight: bold;">Tipo do atendimento</label>
                    <div class="form-check-label">{{appointment.description}}</div>
                </div>
                <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3" style="font-style: arial; font-weight: bold;">Sintomas informados</label>
                    <div class="form-check-label">{{appointment.sintoms}}</div>
                </div>
                <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3" style="font-style: arial; font-weight: bold;">Exame(s) solicitado</label>
                    <div class="form-check-label">{{appointment.exam}}</div>
                </div>
                <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3" style="font-style: arial; font-weight: bold;">Medicação prescrita</label>
                    <div class="form-check-label">{{appointment.medication}}</div>
                </div>
                <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3" style="font-style: arial; font-weight: bold;">Data do atendimento</label>
                    <div class="form-check-label">{{appointment.date}}</div>
                </div>
                {% if appointment.status == False%}
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                            <div class="col-sm-12 col-md-7">
                                <a href="{% url 'conclude_appointment' appointment.id %}" class="btn btn-success btn"><i class="fa-solid fa-check"></i> Concluir</a>
                            </div>
                        </div>
                {% endif %}
                <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                    <div class="col-sm-12 col-md-7">
                        {% if appointment.status == True %}
                            <button class="btn btn-dark" style="position: center;">Imprimir</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
</div>


    
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}