{% extends 'base_adm.html' %}
{% block content %}

<div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Fluxo de caixa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Saída</li>
                    </ol>
                </nav>
            </div>

            <div class="col-md-2">
                <a href="{% url 'despesa_form' %}" class="btn btn-primary btn-sm">Adicionar Despesa</a>
            </div>
            <div class="col-md-2 mt-3">
                <a href="#" class="btn btn-secondary">Exportar Excel</a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="table">
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Data</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for despesa in obj_pagina %}
                    <tr>
                        <td>{{despesa.description}}</td>
                        <td>{{despesa.category}}</td>
                        <td>{{despesa.value}}</td>
                        <td>{{despesa.date}}</td>
                        <td>
                            <a href="{% url 'despesa_form' despesa.id %}" class="btn btn-secondary btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{% url 'delete_despesa' despesa.id %}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="container">
                <div class="float-right">
                    Página {{obj_pagina.number}} de {{ obj_pagina.paginator.num_pages }}
                </div>
                <ul class="pagination justify-content-center">
                    {% if obj_pagina.has_previous %}
                    <li {% if obj_pagina.number == 1 %} class="page-item active" {% endif %}>
                        <a class="page-link" href="?page=1">&laquo; 1</a>
                    </li>
                    <li class="page-item">
                         <a class="page-link" href="?page={{ obj_pagina.previous_page_number }}">Anterior</a>
                    </li>
                    {% endif %}
                            
                    {% if obj_pagina.has_next %}
                    <li class="page-item"> 
                        <a class="page-link" href="?page={{ obj_pagina.next_page_number }}">Próximo</a>
                    </li>
                    <li class="page-item"> 
                        <a class="page-link" href="?page={{ obj_pagina.paginator.num_pages }}">{{ obj_pagina.paginator.num_pages}} &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock content %}