{% extends 'base_adm.html' %}
{% load static %}
{% block content %}
<div class="container">   
    <div class="container-fluid px-4">
        <div class="card mt-4">
            <div class="card-header">
                <h4>Gerenciar Médicos</h4>
                <a type="button" class="btn btn-dark float-end" href="{% url 'doctor_create' %}">Cadastrar médico</a>
            </div>
            
            <div class="card-body" style="overflow-x:auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Especialização</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}